# this is the template env file. 
# copy this, rename to `local.env`, then put your secrete key
export PROJECT_NAME="python-project-starter"

export SOME_API_KEY="sk-xxxxxxxxxx"

export LOG_DIR="logs/"
export LOG_NAME="main.log"
export LOG_ROTATE_NAME="main_rotate.log"