{% extends "base.html" %}
{% block title %}Skill Master - Index{% endblock %}
{% block content %}
	<h1>Skill Master</h1>
	<sub>build version: {{build_version}}</sub>

  {%if message%}
  <div class="mt-3">
    <div class="alert alert-{{type}}" role="alert">
      {{message}}
    </div>
  </div>
  {%endif%}

	<div class="card mt-4">
    <div class="card-body">
      
      <h3 class="card-title">Pipeline 1</h3>
      <div id="p1-sec-status" class="mb-3">
        <div><span>job_id: {{job_id}}</span></div>
        <div><span>status: {{job_status}}</span></div>
        <div><span>state: {{job_state}}</span></div>
        <div><span>result: {{job_result}}</span></div>
        <form action="start-pipeline1" method="GET" class="mt-3">
          <input name="form_name" class="form-control" value="check" type="hidden">
          <div class="mb-3">
            <label for="job_id" class="form-label">Job ID:</label>
            <input name="job_id" class="form-control" autocomplete="off" value="{{job_id}}" required>
          </div>
          <button name="user_action" value="check" type="submit" class="btn btn-primary">Check</button>
          <button name="user_action" value="cancel" type="submit" class="btn btn-warning">Cancel</button>
          <button name="user_action" value="clear" type="submit" class="btn">Clear</button>
        </form>

      </div>

      <hr/>

      <div id="p1-sec-form">
        <h5>Start a new job</h5>
        <form action="start-pipeline1" method="GET">
          <input name="form_name" class="form-control" value="start" type="hidden">
          <div class="mb-3">
            <label for="nrow" class="form-label">Number of row:</label>
            <input name="nrow" class="form-control" autocomplete="off" required>
          </div>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
		</div>

	</div>
	<script>
  		document.getElementById("pipeline-1").addEventListener("click", function() {
			console.log("Button clicked for item ID:", itemId);
			// Call backend API here
  		});
	</script>

{% endblock %}
